<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><i class="pi pi-align-left"
                style=" font-size: 1.222rem;"></i></button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed"><img [src]="local.empresa.empresa_logo" width="90%"></div>
    </div>
    <ul *ngIf="auth.usuario.perfil == 10" class="sidenav-nav">
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="['/admin/home']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon pi pi-home"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Inicio
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" (click)="newticket()">
                <i class="sidenav-link-icon pi pi-info-circle"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Mesa de Ayuda
                </span>
            </a>
        </li>
    </ul>
    <ul *ngIf="auth.usuario.perfil != 10" class="sidenav-nav">
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="['/promotor/home']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon pi pi-home"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Inicio
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="['/promotor/simulador']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon pi pi-calculator"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Simulador de Crédito
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="['/promotor/contratos']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i *ngIf="auth.contatos_n ==0" class="sidenav-link-icon pi pi-file-edit"></i>
                <i *ngIf="auth.contatos_n !=0" class="sidenav-link-icon pi pi-file-edit" pBadge
                    [value]="auth.contatos_n+''" severity="success"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Contratos
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="['/promotor/inspeccion']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i *ngIf="auth.inspeccion_n ==0" class="sidenav-link-icon pi pi-file-pdf"></i>
                <i *ngIf="auth.inspeccion_n !=0" class="sidenav-link-icon pi pi-file-pdf" pBadge
                    [value]="auth.inspeccion_n+''" severity="success"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Reporte de Inspección
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" (click)="newticket()">
                <i class="sidenav-link-icon pi pi-info-circle"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Mesa de Ayuda
                </span>
            </a>
        </li>
    </ul>
</div>
<p-dialog header="MESA DE AYUDA"
        [(visible)]="bandera" [modal]="true" [style]="screenWidth<= 768?{ width: '100%' }:{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <div class="card">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
        </div>
        <div class="card flex justify-content-center">
            <textarea rows="7" cols="100" pInputTextarea [(ngModel)]="desc"></textarea>
        </div>
        <div class="my-3 text-lg font-bold">Subir Captura de Pantalla</div>
            <input class="input-file w-full my-2" type="file" id="imageFile" accept="image/*" (change)="file($event)" />
            <br>
            <br>
            <button pButton label="Enviar Reporte" icon="pi pi-cloud-upload" [disabled]="desc=='' || filebase64==''" class="mt-3 bg-red-700"
            (click)="enviarreporte()"></button>
    </p-dialog>