<section>
    <p-table [value]="tabla" [tableStyle]="{'width': '100%'}" selectionMode="single" [showCurrentPageReport]="true"
        selectionMode="single" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div class="text-3xl">
                    TABLA DE AMORTIZACIÓN
                </div>
                <p-button styleClass="sm:p-button-sm md:p-button-sm lg:p-button-lg xl:p-button-lg p-colorsa"
                (click)="imprimir()" [disabled]="tabla.length==0"
                icon="pi pi-file-pdf" label="Descargar"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">No. Pago</th>
                <th class="text-center">Fecha Inicial</th>
                <th class="text-center">Fecha Final</th>
                <th class="text-center">Días</th>
                <th class="text-center">Saldo Insoluto</th>
               <!-- <th class="text-center">Deuda Inicial</th>-->
                <th class="text-center">Interés</th>
                <th class="text-center">IVA Interés</th>
                <th class="text-center">Seguro</th>
                <th class="text-center">Capital</th>
                <th class="text-center">Monto Pago</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
            <tr>
                <td class="text-center">{{solicitud.num_pago}}</td>
                <td class="text-center">{{solicitud.fecha_inicial}}</td>
                <td class="text-center">{{solicitud.fecha_fin}}</td>
                <td class="text-center">{{solicitud.plazo_dias}}</td>
                <td class="text-center">{{solicitud.saldo_inicial | currency}}</td>
                <td class="text-center">{{solicitud.pago_interes | currency}}</td>
                <td class="text-center">{{solicitud.iva_interes | currency}}</td>
                <td class="text-center">{{solicitud.seguro | currency}}</td>
                <td class="text-center">{{solicitud.pago_capital | currency}}</td>
                <td class="text-center">{{solicitud.monto_pago | currency}}</td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="estatus_solicitud==2 || estatus_solicitud==0" class="flex align-items-center justify-content-between">
        <button pButton label="Anterior" routerLink="/promotor/originacion/terminos" class="mt-3 bg-primary-700"></button>
        <button pButton label="Continuar" routerLink="/promotor/originacion/sic" class="mt-3 bg-red-700"></button>
     </div>
</section>