<p-toast></p-toast>
<section>
    <p-fieldset legend="Solicitud" [toggleable]="true">
        <div class="grid">
            <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
                <div class="grid">
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 font-bold">
                        No. Solicitud:
                    </div>
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
                        {{info.id}}
                    </div>
                </div>
                <div class="grid">
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 font-bold">
                        Cliente:
                    </div>
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
                        {{info.solicitante}}
                    </div>
                </div>
                <div class="grid">
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 font-bold">
                        Producto Financiero:
                    </div>
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
                        {{info.producto_financiero}}
                    </div>
                </div>
                <div class="grid">
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 mt-1 font-bold">
                        Producto:
                    </div>
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 mt-1">
                        {{info.producto}}
                    </div>
                </div>
            </div>
            <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
                <div class="grid">
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 mt-1 font-bold">
                        Crédito:
                    </div>
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 mt-1">
                        {{info.importe_financiamiento_valor | currency}}
                    </div>
                </div>
                <div class="grid">
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 font-bold">
                        Fecha de Solicitud:
                    </div>
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
                        {{info.registro}}
                    </div>
                </div>
                <div class="grid">
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 mt-1 font-bold">
                        Ultima Actualización:
                    </div>
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 mt-1">
                        {{info.modificado}}
                    </div>
                </div>
                <div class="grid">
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 mt-1 font-bold">
                        Estatus:
                    </div>
                    <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 mt-1">
                        {{info.status_text}}
                    </div>
                </div>
            </div>
        </div>
    </p-fieldset>
    <br>
    <p-tabView *ngIf="info.status!=40 && info.status != 30 && info.status != 46">
        <p-tabPanel [disabled]="info.status!=30" header="FACTURA DEL EQUIPO">
        </p-tabPanel>
        <p-tabPanel [disabled]="info.status!=40" header="CONTRATO">
        </p-tabPanel>
        <p-tabPanel [disabled]="info.status!=40" header="PAGARE">
        </p-tabPanel>
    </p-tabView>
    <p-tabView *ngIf="info.status_text=='CONTRATACION' || info.status_text=='PAGARE'|| info.status_text=='RESOLUCION'"
        [(activeIndex)]="activeIndex" (onChange)="seccionselect($event)">
        <p-tabPanel [disabled]="info.status!=30" header="FACTURA DEL EQUIPO">
            <div class="text-2xl font-bold" *ngIf="info.presupuestos.length>=2">
                Subir Facturas De Los Equipos a Financiar<i class=" ml-2 pi pi-cloud-upload"
                    style="font-size: 2rem; color: var(--color-principal)"></i>
            </div>
            <div class="text-2xl font-bold" *ngIf="info.presupuestos.length==1">
                Subir Factura Del Equipo a Financiar<i class=" ml-2 pi pi-cloud-upload"
                    style="font-size: 2rem; color: var(--color-principal)"></i>
            </div>
            <br>
            <div class="card" *ngFor="let item of info.presupuestos; let i = index">
                <div class="text-lg font-bold my-2">Cargar Factura de {{item.p_nombre}}</div>
                <input class="input-file my-2" type="file" (change)="filexml($event,10,i)" accept="text/xml" />
                <hr>
            </div>
            <br>
            <br>
            <button pButton label="Enviar Factura" icon="pi pi-cloud-upload" (click)="enviarFactura()"
                class="mt-3 bg-red-700"></button>
        </p-tabPanel>
        <p-tabPanel [disabled]="info.status!=40" header="CONTRATO">
            <div class="text-xl my-2 font-bold">Descargar y/o Carga de Contrato</div>
            <div class="grid">
                <div class="sm:col-12 md:col-2 lg:col-2 xl:col-2 text-center">
                    <div class="text-md my-2">
                        Formato de Contrato
                    </div>
                    <p-button label="descargar Contrato" [disabled]="dwcontrato==''" icon="pi pi-download"
                    (click)="descargarcontrato(dwcontrato)" styleClass="p-button-sm p-button-success"></p-button>
                </div>
            </div>
            <hr>
            <div class="my-3 text-lg font-bold">Subir contrato Firmado</div>
            <input class="input-file my-2" type="file" accept=".pdf" (change)="file($event,20)" />
            <br>
            <br>
            <button pButton label="Enviar Contrato" (click)="enviarcontrato()" icon="pi pi-cloud-upload"
                class="mt-3 bg-red-700"></button>
        </p-tabPanel>
        <p-tabPanel [disabled]="info.status!=46" header="PAGARE">
            <div class="text-lg my-2 font-bold">Descargar y/o Carga de Pagaré</div>
            <div class="grid">
                <div class="sm:col-12 md:col-3 lg:col-3 xl:col-3">
                    <div class="my-2 text-md font-bold">Fecha de emision del Pagare</div>
                            <p-calendar [(ngModel)]="fecha" [minDate]="minimo" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <p-button label="descargar Pagaré" [disabled]="fecha==undefined" icon="pi pi-download"
                (click)="descargarpagare()" styleClass="mt-3 mb-2 p-button-sm p-button-success"></p-button>
            <hr>
            <div class="my-3 text-lg font-bold">Subir pagare Firmado</div>
            <input class="input-file my-2" type="file" accept=".pdf" (change)="file($event,30)" />
            <br>
            <br>
            <button pButton label="Enviar Pagaré" icon="pi pi-cloud-upload" (click)="enviarpagare()"
                class="mt-3 bg-red-700"></button>
        </p-tabPanel>
    </p-tabView>

</section>