<p-toast></p-toast>
<section [formGroup]="form">
    <div class="bg-white p-3 my-4 border-round-md" formArrayName="equipos"
        *ngFor="let o of equipos.controls; let i = index">
        <div class="grid">
            <div class="col-10">
                <div class="text-2xl my-3">
                    Presupuesto {{i+1}}
                </div>
            </div>
            <div class="col-2 text-right">
                <button *ngIf="i == equipos.controls.length-1 && i>=1" pButton icon="pi pi-minus"
                    class="mt-3 p-button-lg bg-red-700" (click)="eliminarpresupuesto(i)"></button>
            </div>
        </div>
        <div [formGroupName]="i">
            <div class="grid text-center">
                <div class="sm:col-12 md:col-4 lg:col-4 xl:col-4">
                    <div>Descripción del equipo…</div>
                    <p-autoComplete inputStyleClass="p-inputtext-sm" styleClass="p-inputtext-sm w-full my-2"
                        [suggestions]="items" formControlName="p_nombre" (completeMethod)="filterItems($event)"
                        (onSelect)="productoselect($event,i)" [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="sm:col-12 md:col-3 lg:col-3 xl:col-3">
                    <div>Marca</div>
                    <input type="text" formControlName="marca" class="p-inputtext-sm w-full my-2 text-center"
                        pInputText />
                </div>
                <div class="sm:col-12 md:col-3 lg:col-3 xl:col-3">
                    <div>Serie</div>
                    <input type="text" formControlName="serie" class="p-inputtext-sm w-full my-2 text-center"
                        pInputText />
                </div>
                <div class="sm:col-12 md:col-2 lg:col-2 xl:col-2">
                    <div>Modelo</div>
                    <input type="text" formControlName="modelo" class="p-inputtext-sm w-full my-2 text-center"
                        pInputText />
                </div>
            </div>
            <div class="grid text-center">
                <div class="sm:col-12 md:col-4 lg:col-4 xl:col-4">
                    <div>Precio de Lista (moneda de origen)</div>
                    <p-inputNumber class="w-full" [minFractionDigits]="2" mode="currency" currency="USD" locale="en-US"
                        formControlName="p_precio" styleClass="p-inputtext-sm w-full my-2 text-center"></p-inputNumber>
                </div>
                <div class="sm:col-12 md:col-4 lg:col-4 xl:col-4">
                    <div>Moneda</div>
                    <input type="text" class="p-inputtext-sm w-full my-2 text-center" formControlName="moneda_text"
                        pInputText />
                </div>
                <div *ngIf="bindings[i].moneda==20" class="sm:col-12 md:col-4 lg:col-4 xl:col-4">
                    <div>Tipo Cambio</div>
                    <p-inputNumber class="w-full" [minFractionDigits]="2" formControlName="peso_valor" mode="currency"
                        currency="USD" locale="en-US" (onBlur)="cambiodolar(i)"
                        styleClass="p-inputtext-sm w-full my-2 text-center"></p-inputNumber>
                </div>
            </div>
            <div class="grid mt-2">
                <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
                    <div class="grid">
                        <div class="sm:col-12 md:col-5 lg:col-5 xl:col-5 align-self-center p-0 text-center">
                            Precio de Venta en pe$os
                        </div>
                        <div class="sm:col-12 md:col-7 lg:col-7 xl:col-7 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="precio_venta" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                       <!-- <div *ngIf="bindings[i].apply_iva==10 || bindings[i].apply_iva==0"
                            class="sm:col-12 md:col-5 lg:col-5 xl:col-5 align-self-center p-0 text-center">
                            IVA
                        </div>
                        <div *ngIf="bindings[i].apply_iva==10 || bindings[i].apply_iva==0"
                            class="sm:col-12 md:col-7 lg:col-7 xl:col-7 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="iva" [minFractionDigits]="2" mode="currency"
                                currency="USD" locale="en-US"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>-->
                        <div class="sm:col-12 md:col-5 lg:col-5 xl:col-5 align-self-center p-0 text-center">
                            Núm. Unidades
                        </div>
                        <div class="sm:col-12 md:col-7 lg:col-7 xl:col-7 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="cantidad" [min]="1"
                                (onBlur)="cambiocantidad(i)"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                        <div class="sm:col-12 md:col-5 lg:col-5 xl:col-5 align-self-center p-0 text-center">
                            Cotización Total
                        </div>
                        <div class="sm:col-12 md:col-7 lg:col-7 xl:col-7 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="cotizacion" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                    </div>
                </div>
                <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
                    <div class="grid">
                        <div class="sm:col-12 md:col-5 lg:col-5 xl:col-5 align-self-center p-0 text-center">
                        </div>
                        <div class="sm:col-12 md:col-7 lg:col-7 xl:col-7 p-1 align-self-center">
                            <p-inputNumber class="w-full" styleClass="p-inputtext-sm w-full text-center" style="visibility: collapse;"></p-inputNumber>
                        </div>
                        <!-- <div class="sm:col-12 md:col-5 lg:col-5 xl:col-5 align-self-center p-0 text-center">
                            Seguro del Bien
                        </div>
                        <div class="sm:col-12 md:col-7 lg:col-7 xl:col-7 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="seguro_bien" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US" (onBlur)="elresto(i)"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>-->
                        <div class="sm:col-12 md:col-5 lg:col-5 xl:col-5 align-self-center p-0 text-center">
                            Descuentos
                        </div>
                        <div class="sm:col-12 md:col-7 lg:col-7 xl:col-7 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="descuento_valor" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US" (onBlur)="elresto(i)"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                        <div class="sm:col-12 md:col-5 lg:col-5 xl:col-5 align-self-center p-0 text-center">
                            INVERSION TOTAL (pesos)
                        </div>
                        <div class="sm:col-12 md:col-7 lg:col-7 xl:col-7 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="inversion_total" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid mt-2">
                <div class="sm:col-4 md:col-4 lg:col-4 xl:col-4"></div>
                <div class="col-8">
                    <div class="grid">
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 align-self-center p-0 text-right">
                            Importe Final
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="importe_final" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 align-self-center p-0 text-right">
                            Aportación del Solicitante (incluye enganche)
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 p-1 align-self-center">
                            <div class="grid">
                                <div class="sm:col-12 md:col-3 lg:col-3 xl:col-3">
                                    <p-inputNumber inputStyleClass="w-full" suffix="%" [minFractionDigits]="1"
                                        formControlName="aportacion_producto_porcentaje" (onInput)="importeaprtacion(i)"
                                        styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                                </div>
                                <div class="sm:col-12 md:col-9 lg:col-9 xl:col-9">
                                    <p-inputNumber class="w-full" formControlName="aportacion_producto_valor"
                                        [minFractionDigits]="2" mode="currency" currency="USD" (onBlur)="alrevez(i)"
                                        locale="en-US" styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 align-self-center p-0 text-right">
                            Importe a Financiamiento (pesos)
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 p-1 align-self-center">
                            <div class="grid">
                                <div class="sm:col-12 md:col-3 lg:col-3 xl:col-3">
                                    <p-inputNumber inputStyleClass="w-full" suffix="%" [minFractionDigits]="1"
                                        styleClass="p-inputtext-sm w-full text-center"
                                        formControlName="importe_financiamiento_porcentaje"></p-inputNumber>
                                </div>
                                <div class="sm:col-12 md:col-9 lg:col-9 xl:col-9">
                                    <p-inputNumber class="w-full" [minFractionDigits]="2" mode="currency" currency="USD"
                                        locale="en-US" formControlName="importe_financiamiento_valor"
                                        styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 align-self-center p-0 text-right">
                            Monto del Crédito
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="monto_credito" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 align-self-center p-0 text-right">
                            Comisión por apertura del Crédito
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 p-1 align-self-center">
                            <div class="grid">
                                <div class="sm:col-12 md:col-3 lg:col-3 xl:col-3">
                                    <p-inputNumber inputStyleClass="w-full" suffix="%" [minFractionDigits]="1"
                                        styleClass="p-inputtext-sm w-full text-center" (onInput)="otromas(i)"
                                        formControlName="comision_apertura_porcentaje"></p-inputNumber>
                                </div>
                                <div class="sm:col-12 md:col-9 lg:col-9 xl:col-9">
                                    <p-inputNumber class="w-full" formControlName="comision_apertura"
                                        (onInput)="cambiocomsion(i)" [minFractionDigits]="2"
                                        mode="currency" currency="USD" locale="en-US"
                                        styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 align-self-center p-0 text-right">
                            gastos de originación
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="seguro_equipo" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US" (onBlur)="elresto(i)"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 align-self-center p-0 text-right">
                            Pago Inicial
                        </div>
                        <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6 p-1 align-self-center">
                            <p-inputNumber class="w-full" formControlName="pago_inicial" [minFractionDigits]="2"
                                mode="currency" currency="USD" locale="en-US"
                                styleClass="p-inputtext-sm w-full text-center"></p-inputNumber>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="grid">
    <div class="col-12 flex justify-content-end">
        <button pButton label="Agregar Producto" (click)="addproducto()" class="mt-3 bg-primary-700"
            [disabled]="this.form.controls['equipos'].invalid"></button>

        <button pButton label="Continuar" class="mt-3 ml-2 bg-red-700" (click)="resultados()"></button>
    </div>
</div>